<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICrmServiceTest" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2515/CrmServiceTest.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICrmServiceTest"
                contract="CrmServiceTest.ICrmServiceTest" name="BasicHttpBinding_ICrmServiceTest" />
        </client>
    </system.serviceModel>
</configuration>
